---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
  showRss?: boolean;
}

const { centered = false, showRss = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button flex"
        title={social.linkTitle}
      >
        <Fragment set:html={socialIcons[social.name]} />
      </LinkButton>
    ))
  }

  <LinkButton
    target="_blank"
    href="/rss.xml"
    className={`link-button flex ${showRss ? "block" : "hidden"}`}
    aria-label="rss feed"
    title="RSS Feed"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon-tabler rss-icon"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
        d="M4 4a16 16 0 0 1 16 16"></path><path d="M4 11a9 9 0 0 1 9 9"
      ></path></svg
    >
  </LinkButton>
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-5 max-sm:flex max-lg:pt-4;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
