---
export interface Props {
  name: string;
  display: string;
  size?: "sm" | "lg";
}

const { name, display, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm" ? "my-1 underline-offset-4" : "mx-1 underline-offset-8"
  }`}
>
  <a
    href={`/topics/${name}`}
    class={`${size === "sm" ? "text-sm py-1" : "text-lg py-3"} flex flex-row items-center gap-5 pr-2 group`}
  >
    <span>{display}</span>
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
</style>
