<div
  class="bg-gray-800 font-mono text-white fixed bottom-1 left-1 z-50 flex h-6 w-6 items-center justify-center rounded-full p-3 text-xs"
>
  <div class="block sm:hidden">xs</div>
  <div class="md:hidden lg:hidden xl:hidden 2xl:hidden hidden sm:block">sm</div>
  <div class="md:block lg:hidden xl:hidden 2xl:hidden hidden">md</div>
  <div class="lg:block xl:hidden 2xl:hidden hidden">lg</div>
  <div class="xl:block 2xl:hidden hidden">xl</div>
  <div class="2xl:block hidden">2xl</div>
</div>
