---
import Header from "@components/Header.astro";
import DetailLayout from "./DetailLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

// TODO: need to map the frontmatter title to detail layout
const { frontmatter } = Astro.props;
---

<DetailLayout>
  <Fragment slot="header">
    <Header activeNav="about" />
  </Fragment>
  <Fragment slot="pageTitle">
    <h1
      class="text-4xl flex z-20 flex-col md:text-5xl lg:text-6xl font-black mb-4 relative text-balance"
    >
      <span
        class="absolute -z-10 text-skin-hightlight -left-24 -top-7 text-5xl opacity-40 sm:text-7xl sm:-top-12 max-sm:-left-6 max-lg:-left-8 md:-top-12 md:text-7xl lg:-top-20 lg:text-9xl"
        >Me</span
      >
      About
    </h1>
    <p>
      Content I've collected from around the interwebs that aligns with my
      interests and supports my learning journey, making it easier to revisit
      and share with others.
    </p>
  </Fragment>
  <div class="prose flex w-full flex-col max-w-full">
    <slot />
  </div>
</DetailLayout>

<style>
  .post-list {
    @apply mt-12;
  }
  .post-list li {
    @apply mb-4;
  }
  .post-list a {
    /* @apply text-blue-600 hover:underline; */
  }
</style>
