---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { fade } from "astro:transitions";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
}

const { pageTitle, pageDesc } = Astro.props;
---

<Breadcrumbs />
<main id="main-content" transition:animate={fade({ duration: "0.3s" })}>
  <h1>{pageTitle}</h1>
  <p>{pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full max-w-3xl px-4 pb-12 h-full flex-1;
  }
  #main-content h1 {
    @apply text-2xl font-semibold font-montserrat uppercase sm:text-3xl;
  }
  #main-content p {
    @apply mt-2 mb-6 italic;
  }
</style>
